.birthday{
    background-color:black;
}
div{
    height: 50px;
    width: 50px;
}
#one{
    background-color: tomato;
    position: relative;
    left: 650px;
    top:50px;
}
#two{
    background-color: aqua;
    position: relative;
    left: 650px;
    top: 51px;
}
#three{
    background-color:chartreuse;
    position: relative;
    left: 650px;
    top: 52px;
}
#four{
    background-color:blue;
    position: relative;
    left: 650px;
    top: 53px;
}
#five{
    background-color: chocolate;
    position: relative;
    left: 650px;
    top: 52px;
}
#six{
    background-color:brown;
    position: relative;
    left: 700px;
    top: -100px;
}
#seven{
    background-color:darkgreen;
    position: relative;
    left: 750px;
    top: -150px;
}
#eight{
    background-color:gold;
    position: relative;
    left: 800px;
    top: -200px;
}
#nine{
    background-color:peru;
    position: relative;
    left: 800px;
    top: -300px;
}
#ten{
    background-color:blueviolet;
    position: relative;
    left: 800px;
    top: -400px;
}
#eleven{
    background-color:crimson;
    position: relative;
    left: 800px;
    top: -300px;
}
#twelve{
    background-color:darkgoldenrod;
    position: relative;
   
    left: 800px;
    top: -300px;
}
#thirteen{
    background-color: lightskyblue;
    position: relative;
     width: 90px;
    left: 850px;
    top: -375px;
}
h1{
    font-size: 30px;
    color:crimson;

}
#fourteen{
    background-color:azure;
    position: relative;
    width: 200px;
    left: 890px;
    top: -375px;
}
big{

    color: darkred;
   
    font-size: 30px;
    
}
#fifteen{
    background-color:red;
    position: relative;
    width: 130px;
    left: 808px;
    top: -399px;
    font-size: 20px;

}
#seventeen{
    background-color:red;
    position: relative;
    left: 750px;
    top:  -400px;  
}
#eighteen{
    background-color:aqua;
    position: relative;
    left: 730px;
    top:  -400px;  
}
#nineteen{
    background-color:blue;
    position: relative;
    left: 710px;
    top:  -400px;  
}
#twenty{
    background-color:brown;
    position: relative;
    left: 690px;
    top:  -400px;  
}
#twenty-one{
    background-color:cadetblue;
    position: relative;
    left: 670px;
    top:  -400px;  
}
#twenty-two{
    background-color:chartreuse;
    position: relative;
    left: 650px;
    top:  -400px;  
}
#twenty-three{
    background-color:coral;
    position: relative;
    left: 780px;
    top:  -650px;  
}
#seventeen{
    background-color:
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}
#seventeen{
    background-color
    position: relative;
    left: 750px;
    top:  -400px;  
}

